[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curtiscde/hugo-theme-massively
